<h1> Add a Person </h1>

<%= form_for @person, url: {action: "create"}, html: {class: "person-form"} do |f| %>

<% if @person.errors.any? %>
  <div id="errors">
    <p>
      <%= pluralize(@person.errors.count, "error") %> prevented this person from being added.
    </p>
    <ul>
      <% @person.errors.full_messages.each do |message| %>
        <li>
          <%= message %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= f.label :name, "Name: " %>
<%= f.text_field(:name) %>

<%= f.submit "Add Person" %>

<% end %>
