<h1> Edit this memory </h1>

<%= form_for @memory, url: person_memory_path("#{@memory.person_id}", "#{@memory.id}"), html: {method: "patch", class: "memory-form"} do |f| %>
  <%= f.label :memory, "Type memory here: " %>
  <%= f.text_area :memory, size: "60x12" %>
  <br>
  <%= f.label :author, "Your Name: " %>
  <%= f.text_field(:author) %>

  <%= f.hidden_field :person_id, value: @person.id %>

  <%= f.submit "Submit memory" %>

<% end %>
